
.weathercontent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    &__weather{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    &__temperature{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        &__today{
            width: 250px;
        }
    }
    &__prediction{
   
        display: flex;
        flex-direction: column;
      
        gap: 20px;
        &-text{
            font-weight: 500;
        }

        &-container{
            display: flex;
            flex-wrap: wrap;
        }
        
    }
} 