.homepage{
    height: 95vh;
    padding-top: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    display: flex;
    flex-direction: column;
    &__header{
        display: flex;
        text-align: center;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 10%;

        &-sidebar{
            display: flex;
            width: 15vh;
            justify-content: space-between;
        }
        &-btn{
            height: 50px;
            aspect-ratio: 1;
            background-color: transparent;
            border: none;

        }
        &-btn:hover{
           text-decoration: underline;
           transform: translateY(1px);

        }
    }
    
}