.Windcard{
    height: 220px;
    width: 320px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/431/462/515/artwork-digital-art-sky-clouds-hd-wallpaper-preview.jpg");
    background-size: cover;
    border-radius: 20px;
    padding: 20px;

    &__header{
        display: flex;
        align-items: center;
    }

    &__location{
        font-weight: 600;
    } 

    &__main{
        height: 145px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__section-PVH{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

}